{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    {{ super() }}
    <!-- Main -->
    <main>

        <button class="give-btn">
            <a href="{{ url_for('review')}}" target="_blank">Donner mon avis</a>
        </button>
        <div class="container">
            <div class="main-content">
                <img src="/static/img/cm.png" alt="CMR"/>
                <h1>Le Berkay ASBL</h1>
                <p>Pour nos écoliers et orphelins du Cameroun</p>
            </div>
            
        </div>

    </main>
{% endblock %}